{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Control{% endblock %}</h1>
  {% if g.user %}
  <a class="action" href="{{ url_for('control.settings') }}">Settings</a>
  {% endif %}
{% endblock %}

{% block content %}

<img src="{{ url_for('control.video_feed') }}" class="center"  style="margin-top:25px;">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class = centerdiv>

<input type="submit" class="button" value="Forward" id="forward" onmousedown="forward()" onmouseup="stop()" style="margin-top:25px;"/><br>
<input type="submit" class="button" value="Left" id="left" onmousedown="left()" onmouseup="stop()" style="margin-right: 25px;"/>
<input type="submit" class="button" value="Right" id="right" onmousedown="right()" onmouseup="stop()" style="margin-left: 25px;"/><br>
<input type="submit" class="button" value="Backward" id="back" onmousedown="back()" onmouseup="stop()"/>

<script type=text/javascript>

var isActive = {}; //dict for active keys
var up = false;
var down = false;
var left = false;
var right = false;

$(document).keydown(function(e){ //when a key is pressed
isActive[e.keyCode] = e.type == 'keydown'; //update active key dictionary

//define forward and back conditions
if (e.keyCode==38 && !isActive[37] && !isActive[39] && !isActive[40] && !up) { //if the key is up and no other arrows are being pressed, and this is the first call
    $.getJSON('/move?command=forward', function(data) {});  //moves forward
    up = true //sets the first call flag
} else if (e.keyCode==40 && !isActive[37] && !isActive[39] && !isActive[38] && !down) { //key is down and no other arrows are being pressed, and this is the first call
    $.getJSON('/move?command=backward', function(data) {}); //moves backward 
    down = true
//define left and right conditions
} else if (e.keyCode==37 && !isActive[39] && !isActive[38] && !isActive[40] && !left) { //key is left and no other arrows are being pressed, and this is the first call
    $.getJSON('/move?command=leftTurn', function(data) {}); //turns left
    left = true
} else if (e.keyCode==39 && !isActive[37] && !isActive[38] && !isActive[40] && !right) { //key is right and no other arrows are being pressed, and this is the first call
    $.getJSON('/move?command=rightTurn', function(data) {}); //turns right
    right = true
//define combinations of left/right and forward/back conditions
} else if (e.keyCode==37 && isActive[38] && !isActive[40] && !isActive[39]) { //if current key event is left arrow, up arrow is active, and no other keys are being pressed
    $.getJSON('/move?command=leftTurn&direction=forward', function(data) {}); //turns left
    left = true
    up = true
} else if (e.keyCode==37 && isActive[40] && !isActive[38] && !isActive[39]) { //if current key event is left arrow and down arrow is active
    $.getJSON('/move?command=leftTurn&direction=backward', function(data) {}); //turns left while going backward
    left = true
    down = true
} else if (e.keyCode==39 && isActive[38] && !isActive[40] && !isActive[37]) { //if current key event is right arrow and up is currently active
    $.getJSON('/move?command=rightTurn&direction=forward', function(data) {}); //turns right
    right = true
    up = true
} else if (e.keyCode==39 && isActive[40] && !isActive[38] && !isActive[37]) { //if current key event is right arrow and down is currently active
    $.getJSON('/move?command=rightTurn&direction=backward', function(data) {}); //turns right while going backward
    right = true
    down = true
  };
});

$(document).keyup(function(e){ //when a key is released
isActive[e.keyCode] = e.type == 'keydown';  //update active key dictionary
if (e.keyCode==38 || e.keyCode==40){ //if the released key is up/down arrow
    $.getJSON('/move?command=stop', function(data) {}); //stops the car
    up = false //resets first call flag
    down = false //resets first call flag
} else if ((e.keyCode==39 || e.keyCode==37) && isActive[38]) { //if current key event is left/right arrow and up is currently active
   $.getJSON('/move?command=forward', function(data) {});  //continues forward, ending the turn
   left = false
   right = false
} else if ((e.keyCode==39 || e.keyCode==37) && isActive[40]) { //if current key event is right arrow and down is currently active
    $.getJSON('/move?command=backward', function(data) {}); //continues forward, ending the turn
    left = false
    right = false
  };
});

</script>

</div>
{% endblock %}