{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Control{% endblock %}</h1>
  {% if g.user %}
  <a class="action" href="{{ url_for('control.settings') }}">Settings</a>
  {% endif %}
{% endblock %}

{% block content %}

<img src="{{ url_for('control.video_feed') }}" class="center">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class = centerdiv>

<input type="submit" class="button" value="Forward" id="forward" onmousedown="forward()" onmouseup="stop()"/><br>
<input type="submit" class="button" value="Left" id="left" onmousedown="left()" onmouseup="stop()"/>
<input type="submit" class="button" value="Right" id="right" onmousedown="right()" onmouseup="stop()"/><br>
<input type="submit" class="button" value="Back" id="back" onmousedown="back()" onmouseup="stop()"/>

<script type=text/javascript>

var throttle = 0.4;

$(document).keydown(function(e){
if (e.keyCode==38) {
    forward()
} else if (e.keyCode==40) {
    back()
} else if (e.keyCode==37 && (e.keyCode==38 || e.keyCode==40)) {
    left()
} else if (e.keyCode==39 && (e.keyCode==38 || e.keyCode==40)) {
    right()
};
});

$(document).keyup(function(e){
if (e.keyCode==38 || e.keyCode==40){
    stop()
  };
});

  function forward(){$.getJSON('/move?direction=forward', function(data) {});}  
  function back(){$.getJSON('/move?direction=backward', function(data) {});}
  function stop(){$.getJSON('/stop', function(data) {});}
  function left(){$.getJSON('/left', function(data) {});}
  function right(){$.getJSON('/right', function(data) {});}

  </script>

</div>
{% endblock %}