{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Settings{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('control.index') }}">Control</a>
  {% endif %}
{% endblock %}

{% block content %}

<h1 style="display:inline;margin-top: 2rem;">Enable Buttons</h3>
<label class="switch">
  <input type="checkbox" id="buttoncontrol">
  <span class="slider round"></span>
</label>

<label class="switch">
  <input type="checkbox" id="keycontrol" checked>
  <span class="slider round"></span>
</label>

{% endblock %}