{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Settings{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('control.index') }}">Control</a>
  {% endif %}
{% endblock %}

{% block content %}

<div style="margin: 20px;">
<h4 class="switchlabel">Enable Night Vision:</h4>
<label class="switch">
  <input type="checkbox" id="keycontrol" checked>
  <span class="slider round"></span>
</label>

<h4 class="switchlabel">Enable Key Control:</h4>
<label class="switch">
  <input type="checkbox" id="keycontrol" checked>
  <span class="slider round"></span>
</label>

<h4 class="switchlabel">Enable Button Control:</h4>
<label class="switch">
  <input type="checkbox" id="buttoncontrol">
  <span class="slider round"></span>
</label>
</div>

<div class="dropdown" style="margin-left:30px; margin-bottom: 20px;">
  <button class="dropbtn">Throttle &nbsp;▼</button>
  <div class="dropdown-content">
  <a href="#">Low</a>
  <a href="#">Medium</a>
  <a href="#">High</a>
  </div>

  <button class="dropbtn">Video Resolution &nbsp;▼</button>
  <div class="dropdown-content">
  <a href="#">640x480</a>
  <a href="#">????</a>
  <a href="#">????</a>
  </div>
</div>

{% endblock %}