{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% set active_page = "home" %}

{% block content %}

<img src="{{ url_for('car.video_feed') }}" class="center"  style="margin-top:25px;">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<div class = centerdiv>
  <input id="trial" name="update" class="button-1" type="submit" value="Begin Trial" onclick="trial()">
</div>

<script type=text/javascript>
var activeTrial = false;
var interval = null;    
clearInterval(interval); //clear recording interval

function trial(params) {
  btn = document.getElementById("trial");
  if (!activeTrial) { 
    $.getJSON('/initialize_trial', function(data) {});
    interval = setInterval(function() {
      $.getJSON('/capture_image', function(data) {});
    }, 1000); //send request to recording route every second (1000 ms)

    console.log("Beginning trial!");
    btn.value = "End Trial";
    activeTrial = true;
  } else {
    clearInterval(interval); //clear recording interval
    $.getJSON('/save_trial', function(data) {});
    activeTrial = false;
    console.log("End trial!");
    btn.value = "Begin Trial";
  }
}

const arrows = {38 : "up", 40 : "down", 37 : "left", 39 : "right"}; //dict of arrows
const active = []; //list of active arrows
$(document).keydown(function(e){
  if ([38, 40, 37, 39].includes(e.keyCode)) { //if arrow
    arrow = arrows[e.keyCode]; //get arrow name
    if (!(active.includes(arrow))) { //if arrow not already active
      console.log(`${arrow}.down - ${active}`);
      $.getJSON(`/move?arrow=${arrow}&record=${activeTrial}&state=down`, function(data) {}); //send data to python
      active.push(arrow); //mark arrow as active
    };
  };
});

$(document).keyup(function(e){
  if ([38, 40, 37, 39].includes(e.keyCode)) { //if arrow
    arrow = arrows[e.keyCode]; //get arrow name
    console.log(`${arrow}.up - ${active}`);
    $.getJSON(`/move?arrow=${arrow}&record=${activeTrial}&state=up`, function(data) {}); //send data to python
    active.splice(active.indexOf(arrow), 1); //mark arrow as inactive
  }; 
});

</script>

</div>
{% endblock %}